<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.electronim.msuc" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChoiceActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".IncidentsActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".WorkActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".PlanActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".WorkTodayActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".EditWorkTodayActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".StartWorkActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".RecordAudioActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".StartStopWorkActivity" android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
